{{outlet}}
<script>
  function drawPoint(context, x, y, isInside){
    context.beginPath();
    if(isInside){
      context.fillStyle = "Green";
    } else {
      context.fillStyle = "Black";
    }
    context.arc(x, y, 3, 0*Math.PI, 2*Math.PI);
    context.fill();
  }
</script>
{{canvas-graph r=rInp}}
<br>
X: <select onchange={{action "xchangeListener" value="target.value"}}>
  {{#each xVars as |value|}}
    <option value={{value}}>{{value}}</option>
  {{/each}}
</select>
<br>
Y: <input type="text" onchange={{action "ychangeListener" value="target.value"}}>
<br>
R: <select onchange={{action "rchangeListener" value="target.value"}}>
  {{#each xVars as |value|}}
    <option value={{value}}>{{value}}</option>
  {{/each}}
</select>
<br>
<input type="button" onclick={{action "sendPoint" }} value="Check point"/>
