<div>Registration</div>
<input type="text" placeholder="User name" value="{{urername}}" onchange={{action "nameChanged" value="target.value"}}>
<input type="password" placeholder="Password" value="{{password}}" onchange={{action "passChanged" value="target.value"}}>
<input type="password" placeholder="Confirm password" value="{{secpassword}}" onchange={{action "secpassChanged" value="target.value"}}><br>
<input type="button" {{action "userLogin"}} value="Register"> <input type="button" {{action "toLog"}} value="Back"/>
<div color="RED">{{errorMesag}}</div>
{{outlet}}
